<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
mood = greatlyImproved if singing

if happy and knowsIt
  clapsHands()
  chaChaCha()
else
  showIt()

date = if friday then sue else jill

  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
var date, mood;

if (singing) {
  mood = greatlyImproved;
}

if (happy && knowsIt) {
  clapsHands();
  chaChaCha();
} else {
  showIt();
}

date = friday ? sue : jill;
  </code>
</pre>
</div>
