<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
square = (x) -> x * x
cube   = (x) -> square(x) * x
empty = ->
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
var cube, empty, square;

square = function(x) {
  return x * x;
};

cube = function(x) {
  return square(x) * x;
};

empty = function() {};
  </code>
</pre>
</div>
