<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
console.log('hello world')
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
(function() {
  console.log('hello world');
}).call(this);
  </code>
</pre>
</div>
