<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
author = "Wittgenstein"
quote  = "A picture is a fact. -- #{ author }"

sentence = "#{ 22 / 7 } is almost π"
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
var author, quote, sentence;

author = "Wittgenstein";

quote = "A picture is a fact. -- " + author;

sentence = "" + (22 / 7) + " is almost π";
  </code>
</pre>
</div>
