<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
foods = ['broccoli', 'spinach', 'chocolate']
eat food for food in foods when food isnt 'chocolate'
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
var food, foods, _i, _len;

foods = ['broccoli', 'spinach', 'chocolate'];

for (_i = 0, _len = foods.length; _i < _len; _i++) {
  food = foods[_i];
  if (food !== 'chocolate') {
    eat(food);
  }
}
  </code>
</pre>
</div>
