<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
for food in ['toast', 'cheese', 'wine']
  eat food
OR
eat food for food in ['toast', 'cheese', 'wine']
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
var food, _i, _len, _ref;

_ref = ['toast', 'cheese', 'wine'];
for (_i = 0, _len = _ref.length; _i < _len; _i++) {
  food = _ref[_i];
  eat(food);
}
  </code>
</pre>
</div>
