<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
launch() if ignition == on

volume = 10 if band isnt SpinalTap

letTheWildRumpusBegin() unless answer is no

if car.speed < limit then accelerate()

winner = yes if pick in [47, 92, 13]

print inspect "My name is #{@name}"
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
var volume, winner;

if (ignition === true) { launch(); }

if (band !== SpinalTap) { volume = 10; }

if (answer !== false) { letTheWildRumpusBegin(); }

if (car.speed < limit) { accelerate(); }

if (pick === 47 || pick === 92 || pick === 13) {
  winner = true;
}

print(inspect("My name is " + this.name));
  </code>
</pre>
</div>
