<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
[number, opposite, whatever] = [42, true, 'iamstring']
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
(function() {
  var number, opposite, whatever, _ref;

  _ref = [42, true, 'iamstring'], number = _ref[0], opposite = _ref[1], whatever = _ref[2];

}).call(this);
  </code>
</pre>
</div>
