<div class='container'>
<pre class="coffee">
  <code data-trim="" class="javascript">
number   = 42
opposite = true
  </code>
</pre>

<pre class="js">
  <code data-trim="" class="javascript">
(function() {
  var number, opposite;

  number = 42;

  opposite = true;

}).call(this);
  </code>
</pre>
</div>
